<div class="content">
  <div class="nes-container with-title is-centered is-rounded">
    <h1>Naomi's Game Queue</h1>
    <p>
      Hello~! This page lists the games I intend to play, in the order I intend
      to play them.
    </p>
    <p>
      I might occasionally stream on
      <a
        href="https://twitch.tv/naomilgbt"
        target="_blank"
        rel="noopener noreferrer"
        >Twitch</a
      >, but if I'm not feeling like the whole setup, I'll do a silent stream in
      my
      <a
        href="https://chat.naomi.lgbt"
        target="_blank"
        rel="noopener noreferrer"
        >Discord server</a
      >.
    </p>
    <p>
      Want to suggest a game?
      <a
        href="https://chat.nhcarrigan.com"
        target="_blank"
        rel="noopener noreferrer"
        >Pop in Discord and let us know!</a
      >
    </p>
    <div
      *ngFor="let game of queue"
      class="game-grid nes-container with-title is-centered is-rounded is-dark"
    >
      <a
        href="{{ game.url }}"
        target="_blank"
        rel="noopener noreferrer"
        class="light-link"
        ><p>{{ game.name }}</p></a
      >
      <p class="time" *ngIf="game.playtime">{{ game.playtime }} hours</p>
      <p class="time" *ngIf="!game.playtime">Unknown Length</p>
      <img src="{{ game.cover }}" alt="{{ game.name }}" width="200" />
    </div>
  </div>
</div>
