.sched {
    width: 100%;
}

.game-grid {
    display: grid;
    align-items: center;
    column-gap: 10%;
    grid-template-areas: "title img" "time img";
}

.game-grid > a {
    font-size: 20px;
    grid-area: title;
    justify-self: left;
    text-align: left;
}

.game-grid > .time {
    grid-area: time;
    justify-self: left;
    text-align: left;
}

.game-grid > img {
    grid-area: img;
    justify-self: right;
}

@media (max-width: 600px) {
    .game-grid {
        grid-template-columns: auto;
    }

    .game-grid > a {
        justify-self: center;
        text-align: center;
    }
    
    .game-grid > img {
        justify-self: center;
    }
}

@media (max-width: 300px) {
    .game-grid > img {
        display: none;
    }
}